
.row{
  display: table-row;
  border: 3px black;
}
.cell{
  display: inline-block;
  border: 2px solid black;
  height: 10px;
  width: 10px;
}
#canvas{
  width: 330px;
  display: flex;
  float: right;
  margin-right: 700px;
}
#swatch{
  margin-left: 100px;
  padding: 5px;
  width: 150px;
  display:flex;
  float: left;
}
.container{
  border: 3px solid black;
}
h1{
  color: white;
}
#title{
  font-size: 50px;
  padding-left: 200px;
  padding-bottom: 50px;
}
#swatchHeader{
  padding-left: 120px;
  font: Book Antiqua;
}
#canvasHeader{
  padding-left: 450px;
}