
.row{
  display: table-row;
  border: 3px black;
}
.cell{
  display: inline-block;
  border: 2px solid black;
  height: 10px;
  width: 10px;
}
#canvas{
  width: 330px;
  display: flex;
  float: right;
  margin-right: 1200px;
}
#swatch{
  margin-left: 100px;
  padding: 5px;
  width: 150px;
  display:flex;
  float: left;
  
}
.container{
  
}
h1{
  color: white;
}
#title{
  font-size: 50px;
  padding-left: 200px;
  padding-bottom: 50px;
}
#swatchHeader{
  font-size: 200%;
  padding-left: 110px;
  float: left;
}
#canvasHeader{
  font-size: 200%;
  padding-left: 360px;
}
#ERASE{
  margin-left: 185px;
}
